[Desktop Entry]
Name=Elegance Colors Process
Comment=Background process for Elegance Colors
Exec=elegance-colors
Icon=elegance-colors
Terminal=false
Type=Application
Categories=GNOME;GTK;Monitor;System;
OnlyShowIn=GNOME;
AutostartCondition=GNOME3 if-session gnome
