[Desktop Entry]
Name=Elegance Colors Preferences
Icon=elegance-colors
Comment=Chameleon theme for Gnome Shell
Exec=elegance-colors-prefs
Terminal=false
Type=Application
Categories=GNOME;GTK;Settings;X-GNOME-Settings-Panel;X-GNOME-PersonalSettings;
OnlyShowIn=GNOME;
X-GNOME-Settings-Panel=elegance-colors-prefs
